body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color:#f4f4f9;
    color: #333;
}

h1 {
    text-align: center;
    color: #CAF4;
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
input[type="text"] {
    padding: 10px 20px;
    background-color: #CAF5;
    color: white;
    border: none;
    cursor: pointer;
}

button{
    background-color: #94c596;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: white;
    margin: 10px 0;
    padding: 15px;
    border-radius: 4px;
    box-shadow:0 2px 4px rgba(0, 0, 0, 1);
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}
.pagination{
    text-align: center;
    margin: 20px 0;
}

.pagination a {
    margin: 0 10px;
    color: #4caf;
    text-decoration: none;
}
.pagination a:hover {
    text-decoration: underline;
}


.messages {
    margin: 20px 0;
}

.alert {
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
}
 
.alert-error {
    background-color: #ffebee;
    color: #c62828;
    border: 1px solid #c62828;
}

alert-success {
    background-color: #e8f5e9;
    color: #2e7d32;
    border: 1px solid #2e7d32;
}